# Packages

In [2]:
using DataFrames, Query

┌ Info: Precompiling DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
└ @ Base loading.jl:1278
┌ Warning: The call to compilecache failed to create a usable precompiled cache file for DataFrames [a93c6f00-e57d-5684-b7b6-d8193f3e46c0]
│   exception = ErrorException("Required dependency SortingAlgorithms [a2af1166-a08f-5f64-846c-94a0d3cef48c] failed to load from a cache file.")
└ @ Base loading.jl:1042
┌ Info: Precompiling SortingAlgorithms [a2af1166-a08f-5f64-846c-94a0d3cef48c]
└ @ Base loading.jl:1278
┌ Info: Precompiling Query [1a8c2f83-1ff3-5112-b086-8aa67b057ba1]
└ @ Base loading.jl:1278

# Question

<img src="https://i.ibb.co/PQYZZLW/question.png" alt="question" border="0">
<img src="https://i.ibb.co/r0Rh1QS/table-1-5.png" alt="table-1-5" border="0">

# Solution

In [6]:
data = DataFrame(
    gender = ["Male", "Male", "Male", "Male", "Female", "Female", "Female", "Female"],
    high_ed = ["Never finished high school", "High school", "College", "Graduate school", "Never finished high school", "High school", "College", "Graduate school"],
    freq = [112, 231, 595, 242, 136, 189, 763, 172]
)

first(data, 5)

5×3 DataFrame
│ Row │ gender │ high_ed                    │ freq  │
│     │ String │ String                     │ Int64 │
├─────┼────────┼────────────────────────────┼───────┤
│ 1   │ Male   │ Never finished high school │ 112   │
│ 2   │ Male   │ High school                │ 231   │
│ 3   │ Male   │ College                    │ 595   │
│ 4   │ Male   │ Graduate school            │ 242   │
│ 5   │ Female │ Never finished high school │ 136   │

## (a) P(High School)

In [29]:
total_students = data[:freq] |> sum

total_highschool = data |>
    @filter(_.high_ed == "High school") |>
    @select(:freq) |>
    DataFrame |>
    Array |>
    sum

;

In [47]:
high_school = total_highschool/total_students

0.1721311475409836

## (b) P(High School or Female)

In [48]:
high_shool_or_female = data |>
    @filter(_.gender == "Female" || (_.gender == "Male" && _.high_ed == "High school")) |>
    @select(:freq) |>
    DataFrame |>
    Matrix |>
    sum

high_shool_or_female = high_shool_or_female/total_students

0.6110655737704918

## (c) P(High School | Female)

In [51]:
high_school_and_female = data |>
    @filter(_.gender == "Female" && _.high_ed == "High school") |>
    @select(:freq) |>
    DataFrame |>
    Matrix |>
    sum

female = data |>
    @filter(_.gender == "Female") |>
    @select(:freq) |>
    DataFrame |>
    Matrix |>
    sum

high_school_given_female = high_school_and_female/female

0.15

## (d) P(Female | High School)

In [55]:
female_given_high_school = high_school_and_female/total_highschool

0.45